* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 1200px;
    width: 98%;
    margin: 0 auto;
    background-color: #f3f3f3;
}

input {
    font-size: 1.1rem;
    width: 100%;
    color: rgb(59, 59, 59);
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    outline: none;
    text-align: center;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(48, 81, 173);
}

h3 {
    color: darkorchid;
}

.card {
    align-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    border: 2px solid rgb(239, 231, 247);
    transition: all 200ms ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 13px rgba(18, 9, 36, 0.12);
    cursor: pointer;

}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    max-height: 170px;
}

.card-grid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}